
body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: white;
}

.header-logo img.logo {
    height: 40px;
}

.header-icons {
    display: flex;
    gap: 15px;
}


.icon-button {
    background: none;
    border: none;
    position: relative;
    cursor: pointer;
}

.icon {
    width: 24px;
    height: 24px;
}

.notification-badge {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 2px 5px;
    font-size: 12px;
}


.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: white;
    min-width: 150px;
    border-radius: 5px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    color: black;
}

.dropdown-content a, .dropdown-content p {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover, .dropdown-content p:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}
.menu-container {
    text-align: center;
    width: 400px;
    margin: 20px auto;
    padding: 50px;
    background-color: #fff;
    border-radius: 8px;
    border: solid #45a049;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.menu-container h1 {
    margin-bottom: 20px;
    color: #333;
    font-weight: bold;
}

.menu-button {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.menu-button:hover {
    background-color: #45a049;
}
